<ul class='post-<%= post.id %>'>
  <li><%= link_to (post.user.full_name || post.user.email) %></li>
  <li><%= post.title %></li>
  <li><%= post.body %></li>
  <li>
    <%= link_to 'edit', edit_post_path(post.id) if author?(post) %>
    <%= link_to 'delete', post , method: 'DELETE', remote: true if author?(post) %>
    <%= post.created_at.strftime("%B %d, %Y") if post.created_at  %>
  </li>

  <hr>
</ul>
