<div class="container sign_up">
  <h1>sign UP</h1>
</div>

<div class="container">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <%= form_for @user do |f| -%>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% @user.errors.full_messages do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <p>
        <%= f.label :email, "Email" %>
        <%= f.text_field :email, class: 'form-control' %>
      </p>

      <p>
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, class: 'form-control' %>
      </p>

      <p>
        <%= f.label :password_confirmation, "Password confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </p>
        <%= f.submit class: 'btn btn-lg btn-warning' %>
    <% end %>
  </div>
  <div class="col-md-4"></div>
</div>
