<!DOCTYPE html>
<html>
  <head>
    <title>Flash</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/header' %>

    <div class="container">
      <div class="jumbotron">
        <h1></h1>

        <%= render partial: 'layouts/flash', locals: { flash: flash } %>

        <%= yield %>

      </div>
    </div>

    <div class="container">

      <hr>

      <footer>
        <p>&copy; 2017 Homemade.</p>
      </footer>

    </div>


  </body>
</html>
